.big {
  margin: 0 auto;
  width: fit-content;
  font-size: 50px;
}

#canvas_container {
  margin-top: 30px;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  aspect-ratio: 16/9;
  border: var(--color-text) 1px solid;
}

#fuel_stats {
  width: 100%;
  height: 100%;
}
