#radar_pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
}

#canvas_container {
  margin-top: 30px;
  position: relative;
  width: 60vw;
  margin: 0 auto;
  aspect-ratio: 1/1;
  border: var(--color-text) 1px solid;
}

#radar_container {
  margin: 0 auto;
  width: fit-content;
}

.boxed_container {
  border: 1px var(--color-text) solid;
  width: fit-content;
}

.inline {
  display: flex;
}

#submode_rows > tr > td {
  text-align: center;
}
