.selection_area {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.input_td {
  padding: 0;
  user-select: none;
}

.checkbox {
  margin: 0;
  display: none;
}

label {
  font-size: 20px;
  display: inline-block;
  width: 100%;
}

.label:hover {
  background: var(--background-image-blue);
  background-size: 400%;
}

.un_checked {
  background: var(--background-image-blood-red);
  background-size: 400%;
  animation: rainbow_animation 5s ease-in-out infinite;
}

.checked {
  background: var(--background-image-green);
  background-size: 400%;
  animation: rainbow_animation 5s ease-in-out infinite;
}

.selection_area label {
  white-space: nowrap;
}

#comparison {
  margin: 10px auto;
  width: fit-content;
}

.button {
  background-image: var(--background-image-blue);
  border: none;
  color: var(--color-text);
  text-align: center;
  text-decoration: none;
  display: inline;
  width: fit-content;
  height: 30px;
  font-size: 1rem;
  border-radius: 4px;
  transition: 0.25s;
}

.button:hover {
  background-size: 400%;
  animation: rainbow_animation 2s ease-in-out infinite;
  transform: scale(1.1);
}

#reset {
  background-image: var(--background-image-blood-red);
}

#reset:hover {
  background-image: var(--background-image-blood-red);
  background-size: 400%;
  animation: rainbow_animation 2s ease-in-out infinite;
}

#settings {
  margin: 15px auto;
}
