#ir_index, #rd_index {
  background-image: var(--background-image-red);
  animation: rainbow_animation 10s ease-out infinite;
  background-color: initial;
}

.rd_table tr:hover {
  background-image: var(--background-image-red);
}
