.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color-background);
	background-size: 400%;
	color: var(--color-text);
	box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;
	cursor: pointer;
	font-family: var(--global-font);
	font-weight: bold;
	padding: 5px;

	text-decoration: none;

	white-space: nowrap;

	background-position: center;
	background-repeat: no-repeat;
}

.section_label {
	padding-bottom: 1vh;
	width: 50vw;
	font-weight: bold;
}

.card:hover {
	box-shadow: var(--color-accent) 0px 0.35em 1.175em, var(--color-background-accent) 0px 0.175em 0.5em;
	background: var(--background-image-blue);
	background-size: 400%;
	animation: rainbow_animation ease-in-out 4s infinite;
	transform: translateY(-3px) scale(1.1);
}

.basic-grid {
	display: grid;
	column-gap: 2vw;
	row-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	padding: 0 0 5rem 0;
}

#main {
	background-image: var(--background-image-red);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	padding-top: 2vh;
	padding-left: 10vw;
	padding-right: 10vw;

	margin: 0 auto;
}

#discord_embed {
	width: fit-content;
	height: 35vh;
	box-shadow: var(--color-background) 0px 0.35em 1.175em, var(--color-background-bright) 0px 0.175em 0.5em;
}

#test, #discord_embed{
	background: red !important;
}