#table {
	margin: 10px auto;
	width: fit-content;
}

#main {
	margin-left: 20vw;
	margin-right: 20vw;
}

#column_1, #column_2 {
	cursor: pointer;
}

.one {
	background: var(--background-image-blood-red);
	background-size: 400%;
}

.two {
	background: var(--background-image-blue);
	background-size: 400%;
}

.three {
	background: var(--background-image-green);
	background-size: 400%;
}