tr {
	display: table-cell;
}

td {
	display: block;
}

#loadout_screen {
	border-collapse: collapse;

	tr {
		cursor: pointer;
		.weapon_header {
			height: fit-content;
		}

		.selected, .selected > &:active {
			//background: var(--color-accent) !important;
			animation-duration: 0.5s;
			animation-fill-mode:forwards;
			@keyframes onHoverAnimation {
				0% {
					background: var(--color-accent);
				}
				100% {
					background: var(--color-accept);
				}
			}
			animation-name: onHoverAnimation;
		}

		.weapon_container {
			aspect-ratio: 1 / 1;

			.empty_choice {
				margin: 0 auto;
				width: fit-content;
				font-size: max(1vw, 1vh);
			}

			.icon_type {
				width: 90%;
			}
			background: transparent;

			transition: 0.3s;
			&:hover {
				background-color: var(--color-accent);
			}
		}

		td {
			border: 1px white solid;
			width: max(4vw, 5vh);
		}
	}
}