/* This is a fix to a bug with chromium not showing the sub-elements border radius*/

.discord_like {
	border: 0 solid #ffffff;
	border-radius: 5px;
	box-shadow: var(--color-background) 0.1em 0.1em 0.5em;
}

#load_discord {
	display: flex;
	justify-content: center;

	outline: 0;
	cursor: pointer;
	border: none;
	padding: 0 20px;
	height: 45px;
	width: fit-content;
	margin: 0 auto;
	line-height: 45px;
	border-radius: 7px;
	font-weight: 400;
	font-size: 16px;
	box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
	transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
	background-color: var(--background-image-turquoise);
	color: var(--color-text);

	&:hover {
		background: var(--background-image-blue);
		box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
	}
}

#discord_prompt {
	background-color: transparentize(rgb(0, 0, 0), 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
}

#dgsvo_notice {
	font-size: 10px;
}

#discord_policy {
	top: 100%;
}

#discord_subcontainer {
	margin: 0 auto;
	width: auto;
}