#dropdown > * {
	padding: 0;
	box-sizing: border-box;
	color: var(--color-text);
	font-weight: bold;
}

#dropdown {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 50vh;
	height: 10vh;
	align-items: center;
	justify-content: flex-start;
	text-transform: uppercase;
	letter-spacing: 4px;
	position: relative;
	margin-top: 1vh;
}

.chosen-value, .value-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.chosen-value {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 4px;
	height: 4rem;
	font-size: 1.1rem;
	padding: 1rem;
	background-color: var(--color-background-bright);
	border: 3px solid transparent;
	transition: 0.3s ease-in-out;

	&:hover {
		background-image: var(--background-image-blue);
		animation: rainbow_animation ease-in-out 4s infinite;
		background-size: 400%;
		cursor: pointer;
	}

	&:focus, &.open {
		box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
		outline: 0;
		background-image: var(--background-image-red);
		background-size: 900%;
		color: #000;
	}
}

.value-list {
	list-style: none;
	margin-top: 4rem;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	max-height: 0;
	transition: 0.3s ease-in-out;

	&.open {
		max-height: 60vh;
		overflow: auto;
	}

	li {
		position: relative;
		height: auto;
		background-color: var(--color-background-bright);
		padding: 0.5rem;
		font-size: 15px;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: background-color 0.3s;
		opacity: 1;

		&:hover {
			background-image: var(--background-image-red);
			background-size: 100rem;
			animation: ease-in-out rainbow_animation 4s infinite;
		}

		&.closed {
			max-height: 0;
			overflow: hidden;
			padding: 0;
			opacity: 0;
		}
	}
}