@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

html {
	--color-text: #ffffff;
	--color-text-anti: #000000;

	--color-text-link: #00ffdf;
	--color-text-dark: #9b9b9b;

	--color-background: #282828;
	--color-background-bright: #3d3d3d;

	--color-background-accent: #6e10d2;
	--color-accent: rgb(199, 10, 75);

	--background-image-red: linear-gradient(
					120deg, #6e10d2, #c70a4b);

	--background-image-blue: linear-gradient(
					120deg, rgb(106, 181, 255) 0%, rgb(30, 144, 248) 100%);

	--background-image-blood-red: linear-gradient(
					120deg, rgb(217, 10, 34) 0%, rgb(211, 5, 85) 100%);

	--background-image-green: linear-gradient(
					120deg, rgb(66, 189, 22) 0%, rgb(90, 229, 86) 100%);

	--background-image-turquoise: linear-gradient(
					120deg, rgb(22, 189, 164) 0%, rgb(86, 212, 229) 100%);

	--rainbow-gradient: linear-gradient(to right, #ff0000, #00ff00, #0000ff);

	--global-font: 'Roboto Mono', monospace;

	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--global-font);
	font-size: 15px;
}

@keyframes rainbow_animation {
	0%, 100% {
		background-position: 0 0;
	}

	50% {
		background-position: 100% 0;
	}
}

p {
	color: var(--color-text);
	margin: 0;
}

a {
	color: var(--color-text);
	&:hover {
		color: var(--color-text-link);
	}
}

.rounded_button {
	background-image: var(--background-image-blue);
	border: none;
	color: var(--color-text);
	text-align: center;
	text-decoration: none;
	display: inline;
	width: 7em;
	font-size: 1rem;
	border-radius: 4px;
	height: 20px;
	&:hover {
		background-image: var(--background-image-blue);
		background-size: 400%;
		animation: rainbow_animation 1s ease-in-out infinite;
	}
}

.link {
	cursor: pointer;
}

td {
	border: 1px solid var(--color-text-dark);
	padding: 3px;
	color: var(--color-text);
}

label {
	color: var(--color-text);
}

.input_number {
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-image: var(--background-image-blue);
	color: var(--color-text);
	width: 4rem;
	height: 0.1rem;
	border-radius: 3px;
	padding: 10px;
	margin: 0 auto 10px auto;
	text-align: center;
	font-size: 15px;
	transition-duration: 0.25s;
	font-weight: 300;
	&:hover {
		background-color: var(--color-background-accent);
	}
	&:focus {
		background-color: var(--color-background-accent);
		color: var(--color-text);
	}
}

.main_table, .rd_table {
	color: var(--color-text);

	border-collapse: collapse;
	margin: 10px;
	tr {
		&:hover {
			background-image: var(--background-image-red);

		}
	}
}

table {
	tr {
		&:nth-child(even) {
			background-color: var(--color-background-bright);

		}
		&:nth-child(odd) {
			background-color: var(--color-background);

		}
	}
}

.sortable_n, .sortable_str {
	cursor: pointer;
}