#ir_index, #sarh_index, #arh_index {
	background-image: var(--background-image-red);
	animation: rainbow_animation 10s ease-out infinite;
	background-color: initial;
}

.missile_table {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.value_green {
	background-color: var(--color-text-green)
}

.value_red {
	background-color: var(--color-text-red);
}

.side_by_side {
	width: fit-content;
	margin: 0 auto;
	display: flex;
	padding-top: 20px;
}

.invisible {
	visibility: hidden;
	display: none;
}

.top_header {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	padding: 10px;
	border: 1px solid var(--color-text);
}

.missile_class_btn {
	z-index: 101;
	aspect-ratio: 1/1;
	width: 120px;
	height: 120px;
	padding: 8px;
	margin: 0 auto;
	display: grid;

	&:hover > img {
		filter: blur(4px) brightness(50%);
	}

	&:hover > .missile_class_btn_text {
		visibility: visible;
		filter: none;
		opacity: 1;
	}
}

.missile_class_btn_text {
	z-index: 102;
	position: inherit;
	visibility: hidden;
	margin: auto;
	width: fit-content;
	height: fit-content;
	font-size: 40px;
	font-family: "Roboto Mono", monospace;
	color: var(--color-text);
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.missile_category_table {
	padding-bottom: 10px;
	margin: 0 auto;
	width: fit-content;
}

.stacked {
	grid-column: 1;
	grid-row: 1;
}

.missile_category_box {
	display: flex;
	gap: 20px;
}


.sortable_button {
	display: inline-block;
	width: fit-content;
	padding: 0;
	margin: 0;
	cursor: pointer;
	user-select: none;
}

// True and false fields

.true {
	color: var(--color-accept);
	text-align: center;
}

.false {
	color: var(--color-text-red);
	text-align: center;
}